.home-headerr .headerr .header .header__logo a img
{
  height: 50px;
}
.page-detail {
  margin-top: 72px;
}
.page-detail .detail-article .detail-article-author span {
  font-size: 11px;
}
.page-detail .detail-article .detail-article-time span {
  font-size: 11px;
}
p.time > span.time-day {
  margin-right: 5px;
}
.left__header {
  height: 362px;
  overflow: hidden;
}
.left__header > a {
  height: 360px;
  position: relative;
}
.left__header > a > img {
  position: absolute;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  object-fit: revert;
}
.new__left > a > img {
  object-fit: cover;
}
.new-content > .new-content-left > .new-content-news > a {
  height: 190px;
  overflow: hidden;
  width: 100%;
}
.new-content
  > .new-content-left
  > .new-content-news
  > a
  > .content-news-img
  > img {
  width: 100%;
}
.detail-involve__content > .involve-content {
  grid-template-columns: 34% 64% !important;
  height: 210px;
  overflow: hidden;
  width: 100%;
}
.detail-involve__content > .involve-content > .involve-content__img > a {
  height: 210px;
  overflow: hidden;
  width: 100%;
}
.detail-involve__content > .involve-content > .involve-content__img > a > img {
  width: 100%;
  height: 100%;
}
.detail-care
  > .detail-care__left
  > .detail-care__content
  > .care-content__img
  > a {
    height: 210px;
  overflow: hidden;
  width: 100%;
}
.detail-care > .detail-care__left > .detail-care__content {
  grid-template-columns: 34% 64% !important;
  height: 210px;
  overflow: hidden;
  width: 100%;
}
.detail-care
  > .detail-care__left
  > .detail-care__content
  > .care-content__img
  > a
  > img {
  width: 100%;
  height: 100%;
}
.detail-content>.detail-content__left>.content-left>.content-left_video
{
  text-align: center;
}
.home-multimedia>.home-content>.home-content-left>a>img 
{
  width: 100%;
}
.home-multimedia>.home-content
{
  height: 455px;
  overflow: hidden;
}
main .home-multimedia .home-content .home-content-left .title a
{
  font-size: 24px;
}
.page_detaillogform .detaillogform-header .header-show .header-logo a img
{
  width: 60px;
}
main .page__home
{
  margin-top: 87px;
}
.home-headerr .headerr .header
{
  grid-template-columns: 12% 88%;
}
.home-headerr .headerr .header .header__menu ul li.dots
{
  display: none;
}
.page-detail .detail-content .detail-content__left .content-left .content-left_video video
{
  width: 100%;
}
/* Slider
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
} */
.page-logform .topic-section__content .section-content
{
  height: 250px;
}.page-logform .topic-section__content .section-content .section-content__img img
{
  width: 100%;
}
.page-logform .topic-news .list-news .list-news__itme .news-itme__img img 
{
  width: 100%;
}
.page-logform .topic-news .list-news .list-news__itme>a
{
  height: 210px;
  overflow: hidden;
}
.page-logform .topic-news .list-news .list-news__itme>a>img
{
  width: 100%;
  height: 100%;
}
.page-logform .topic-news .list-news .list-news__itme .news-itme__content>a
{
  font-size: 16px;
}
.page-logform .topic-news .list-news .list-news__itme .news-itme__content
{
  white-space: nowrap;
}
.page-logform .topic-news .list-news .list-news__itme .news-itme__content>a
{
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}
.page-logform .topic-section__content .section-content
{
  
   border-right: 0px solid #ededed;
}
.page-detaillogform .detaillogform-img 
{
  height: 500px;
    overflow: hidden;
}
.page-detaillogform .detaillogform-img img
{
  width: 100%;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content p 
{
  color: white;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content p img
{
  width: 400px;
}
.section-care .section-care__content .care-content__item .content-item__img
{
  height: 230px;
  overflow: hidden;
}
.section-care .section-care__content .care-content__item .content-item__img a img 
{
    width: 100%;
    height: 100%;
}
.section-care .section-care__content .care-content__item .content-item__img
{
  position: relative;
}
.section-care .section-care__content .care-content__item .content-item__img a
{
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
}

.section-seemore__content .content-text .seemore__content-text a h3 
{
  color: #ffffff;
}
.section-seemore .section-seemore__content
{
  
  height: 210px;
  overflow: hidden;
}
.section-seemore .section-seemore__content .seemore-content__img img
{
  width: 100%;
}
.page_detaillogform>.detaillogform-header
{
  transform: translateY(0%);
}
.containera
{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}
.section 
{

}
.one
{
    background: #c2c2c2;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    scroll-snap-align:start ;
   
}
section .Advertisement 
{
  height: 170px;
  overflow: hidden;
}
section .Advertisement img 
{
  width: 100%;
}
.home-headerr .headerr .header .header__login 
{
  display: none;
}
.new-content > .new-content-left > .new-content-news > a
{
  height: 200px;
}
.containera.active 
{
  display: none;
}
.storymobile
{
  display: none;
}
.storymobile.active1
{
  display: block;
  background: #333333;
}
.the-article-title
{
  padding-top: 45px;
    font-size: 2.4em;
    color: #fbfbfa;
    line-height: 1.2;
    letter-spacing: -1px;
    margin: 10px 0;
    text-align: center;
}
.storymobile.active1 img 
{
  height: 300px;
  width: 100%;
}
.storymobile.active1 h1.caption
{
  padding-top: 4px;
  line-height: 1.618;
  color: #fbfbfa;
}
.advertisement .slick-prev 
{
  display: none !important;
}
.advertisement .slick-next 
{
  display: none !important;
}
.advertisement
{
  height: 200px;
  overflow: hidden;
}
.advertisement img
{
  width: 100%;
  height: 100%;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content p img
{
  width: 500px;
}
.page_detailstory .detailstory-header .header-show .header-logo a img
{
  width: 60px;
}
.page-detail .detail-content .detail-content__left .content-left p img 
{
  width: 500px;
}
.page-detail .detail-content .detail-content__left .content-left>h1 
{
  display: block;
  text-align: left;
}
.page-detail .detail-content .detail-content__left .content-left>h2 
{
  display: block;
  text-align: center;
}
.page-detail .detail-content .detail-content__left .content-left>h3
{
  display: block;
  text-align: right;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content>h1
{
  color: white;
  display: block;
  text-align: left;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content>h2
{
  color: white;
  display: block;
  text-align: center;
}
.page-detaillogform .detaillogform-content .detaillogform-content__content>h3
{
  color: white;
  display: block;
  text-align: right;
}
@media only screen and (max-width: 991px) and (min-width: 768px){
  .home-headerr .headerr .header .header__menu ul li.dots
   {
     display: block;
   }
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
{
  width: 500px;
}
  .page-detail .detail-content .detail-content__left .content-left p img 
{
  width: 500px;
}
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
{
  width: 450px;
}
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .section-seemore .section-seemore__content .seemore-content__img 
  {
    height: 210px;
  }
  .section-seemore .section-seemore__content .seemore-content__img a
  {
    height: 210px;
  }


  .page-detail .detail-care .detail-care__right
  {
    display: none;
  }
  .page-detail .detail-care
  {
    grid-template-columns: 100%;
  }
  .page-detail .detail-content
  {
    grid-template-columns: 100%;
  }
  .page-detail .detail-content .detail-content__right
  {
    display: none;
  }
  main .page__home .page__home-content .left .left__header
  {
    height: 200px;
  }
  main .page__home .page__home-content .left .left__header>a
  {
    height: 200px;
  }
  .new .new-content .new-content-left .new-content-news a.content-news .content-news-img
  {
    height: 200px;
  }
  .new-content-advertisement
  {
    display: none;
  }
  main .page__home .page__home-content .left .left__header
  {
    grid-template-columns: 48% 48.5%;
  }
  main .page__home .page__home-listnew
  {
    grid-template-columns: 100%;
  }
  .new-content > .new-content-left > .new-content-news > a
  {
    height: 100%;
  }
  .new .new-content
  {
    grid-template-columns: 100%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 200px;
    overflow: hidden;
    grid-template-columns: 50% 50%;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px){
  .home-headerr .headerr .header .header__menu ul li.dots
  {
    display: block;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p
  {
    font-size: 13px;
  }
  .page_detailstory .detailstory-header .header-show .header-logo a img
  {
    width: 45px;
  }
  .page_detaillogform .detaillogform-header .header-show .header-logo a img
  {
    width: 45px;
  }
  main .home-multimedia .home-multimedia-title .multimedia__menumobile span.dropdown__selected
  {
    display: none;
  }
  main .page__home .page__home-content .left .left__header .left-title a
  {
    font-size: 17px;
  }
  .page-detaillogform .detaillogform-img
  {
    height: 330px;
  }
  main .page__home .page__home-content .left .left__header>a 
  {
    height: 200px;
    display: flex;
    justify-content: center;
  }
  main .page__home .page__home-content .left .left__header>a>img 
  {
    width:320px;
  }
  .new .new-content .new-content-left .new-content-news .content-news .content-news-img
  {
    height: 250px;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 360px;
  }
  .new-content > .new-content-left > .new-content-news > a > .content-news-img > img
  {
    width: 320px !important;
  }
  main .page__home .page__home-listnew .right__left .new__left a img
  {
    width: 320px;
  }
  main .page__home .page__home-listnew .right__left .new__middo a img
  {
    width: 320px;
  }
  main .page__home .page__home-listnew .right__right .new__left a img
  {
    width: 320px;
  }
  main .page__home .page__home-listnew .right__right .new__middo a img
  {
    width: 320px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 667px){
  .home-headerr .headerr .header-sub-menu .headerr__popup ul.headerr__popup-menu
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
{
  width: 430px;
}
  .page-detail .detail-content .detail-content__left .content-left p img
  {
    width: 430px;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
  {
    width: 430px;
  }
  main .home-multimedia .home-content
  {
    grid-template-columns: 100%;
    
  }
  .home-multimedia>.home-content
  {
    height: auto;
  }
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page_detaillogform .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .page_detaillogform .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-detail .detail-care .detail-care__left .detail-care__content
  {
    grid-template-columns: 50% 50% !important;
  }
  .page-detail .detail-content .detail-content__left .detail-involve .detail-involve__content .involve-content
  {
    grid-template-columns: 50% 50% !important;
  }
  .new .new-content
  {
    grid-template-columns: 100%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 200px;
    overflow: hidden;
    grid-template-columns: 50% 50%;
  }
  main .page__home .page__home-content .left .left__header
  {
    grid-template-columns: 50% 50%;
    height: 206px;
  }
  main .page__home .page__home-content .left .left__header .left-title p
  {
    width: 240px;
  }
  main .page__home .page__home-listnew .right__left
  {
    grid-template-columns: 48% 48.5%;
  }
  main .page__home .page__home-listnew .right__right
  {
    grid-template-columns: 48% 48.5%;
  }
  main .home-multimedia .home-multimedia-title .multimedia__menumobile span.dropdown__selected
  {
    display: none;
  }
}
@media only screen and (max-width: 667px) and (min-width: 567px){
  .home-headerr .headerr .header-sub-menu .headerr__popup ul.headerr__popup-menu
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
  {
    width: 430px;
  }
  .page-detail .detail-content .detail-content__left .content-left p img
  {
    width: 430px;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
  {
    width: 430px;
  }
  main .home-multimedia .home-content
  {
    grid-template-columns: 100%;
    
  }
  .home-multimedia>.home-content
  {
    height: auto;
  }
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page_detaillogform .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .page_detaillogform .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-detail .detail-care .detail-care__left .detail-care__content
  {
    grid-template-columns: 50% 50% !important;
  }
  .page-detail .detail-content .detail-content__left .detail-involve .detail-involve__content .involve-content
  {
    grid-template-columns: 50% 50% !important;
  }
  .new .new-content
  {
    grid-template-columns: 100%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 200px;
    overflow: hidden;
    grid-template-columns: 50% 50%;
  }
  main .page__home .page__home-content .left .left__header
  {
    grid-template-columns: 50% 50%;
    height: 200px;
  }
  main .page__home .page__home-content .left .left__header .left-title p
  {
    width: 240px;
    font-size: 13px;
  }
}
@media only screen and (max-width: 567px) and (min-width: 467px){
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
  {
    width: 430px;
  }
  .page-detail .detail-content .detail-content__left .content-left p img
  {
    width: 430px;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
  {
    width: 430px;
  }
  main .home-multimedia .home-content
  {
    grid-template-columns: 100%;
    
  }
  .home-multimedia>.home-content
  {
    height: auto;
  }
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page_detaillogform .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .page_detaillogform .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-detail .detail-care .detail-care__left .detail-care__content
  {
    grid-template-columns: 50% 50% !important;
  }
  .page-detail .detail-content .detail-content__left .detail-involve .detail-involve__content .involve-content
  {
    grid-template-columns: 50% 50% !important;
  }
  .new .new-content
  {
    grid-template-columns: 100%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 200px;
    overflow: hidden;
    grid-template-columns: 50% 50%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news .content-news-text
  {
    width: 202px;
  }
  .new .new-content .new-content-left .new-content-news .content-news .content-news-text .news-text-content
  {
    font-size: 13px;
  }
  main .page__home .page__home-content .left .left__header
  {
    grid-template-columns: 50% 50%;
    height: 200px;
  }
  main .page__home .page__home-content .left .left__header .left-title p
  {
    width: 202px;
    font-size: 13px;  
  }
  main .page__home .page__home-content .left .left__header .left-title a
  {
    width: 202px;
  }
}
@media only screen and (max-width: 467px) and (min-width: 450px){
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
  {
    width: 430px;
  }
  .page-detail .detail-content .detail-content__left .content-left p img
  {
    width: 430px;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
  {
    width: 430px;
  }
  main .home-multimedia .home-content
  {
    grid-template-columns: 100%;
    
  }
  .home-multimedia>.home-content
  {
    height: auto;
  }
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .section-care .section-care__title h2
  {
    font-size: 18px;
  }
  .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page_detaillogform .section-seemore .section-seemore__content
  {
    grid-template-columns: 50% 50%;
  }
  .page_detaillogform .section-care .section-care__content
  {
    grid-template-columns: repeat(2, 1fr);
  }
  .page-detail .detail-care .detail-care__left .detail-care__content
  {
    grid-template-columns: 50% 50% !important;
  }
  .page-detail .detail-content .detail-content__left .detail-involve .detail-involve__content .involve-content
  {
    grid-template-columns: 50% 50% !important;
  }
  .new .new-content
  {
    grid-template-columns: 100%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news
  {
    height: 200px;
    overflow: hidden;
    grid-template-columns: 50% 50%;
  }
  .new .new-content .new-content-left .new-content-news a.content-news .content-news-text
  {
    width: 200px;
  }
  .new .new-content .new-content-left .new-content-news .content-news .content-news-text .news-text-content
  {
    font-size: 13px;
  }
  main .page__home .page__home-content .left .left__header
  {
    grid-template-columns: 50% 50%;
    height: 196px;
  }
  main .page__home .page__home-content .left .left__header .left-title p
  {
    width: 170px;
    font-size: 13px;
  }
  main .page__home .page__home-content .left .left__header .left-title a
  {
    width: 170px;
  }
}
@media only screen and (max-width: 449px) and (min-width: 320px){
  .page-detail .detail-content .detail-content__left .content-left .content-left_video video
  {
    width: 330px;
  }
  .page-detail .detail-content .detail-content__left .content-left p img
  {
    width: 330px;
  }
  .page-detaillogform .detaillogform-content .detaillogform-content__content p img
  {
    width: 330px;
  }
  main .home-multimedia .home-content
  {
    grid-template-columns: 100%;
    
  }
  main .home-multimedia .home-content .home-content-right .content-right-item1
  {
    grid-template-columns:100%;
  }
  main .home-multimedia .home-content .home-content-right .content-right-item2
  {
    grid-template-columns:100%;
  }
  .home-multimedia>.home-content
  {
    height: auto;
  }
  .section-seemore .section-seemore__content
  {
    grid-template-columns: 100%;
  }
  .section-care .section-care__title h2
  {
    font-size: 18px;
  }
  .section-care .section-care__content
  {
    grid-template-columns: repeat(1, 1fr);
  }
  .section-seemore .section-seemore__content
  {
    height: 360px;
  } .section-seemore .section-seemore__content .seemore-content__img a
  {
    height: 200px;
    overflow: hidden;
  }
  .section-seemore .section-seemore__content .seemore-content__img img
  {
    
  }
  .detail-care > .detail-care__left > .detail-care__content
  {
    grid-template-columns: 100% !important;
    height: 363px;
  }
  .page-detail .detail-content .detail-content__left .detail-involve .detail-involve__content .involve-content
  {
    grid-template-columns: 100% !important;
    height: 363px;
  }
  main .page__home .page__home-listnew .right__left
  {
    grid-template-columns: 100%;
  }
  main .page__home .page__home-listnew .right__right
  {
    grid-template-columns: 100%;
  }
  main .page__home .page__home-content .left .left__header
  {
    height: 349px;
  }
  main .page__home .page__home-content .left .left__header .left-title p
  {
    font-size: 13px;
  }
}